__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

build/
dist/
.eggs/
*.egg-info/
.tox/
.nox/
.pytest_cache/
.coverage*
htmlcov/
.hypothesis/
.vscode/
.idea/
.DS_Store

instance/
app.db
*.sqlite
*.sqlite3
*.log
*.pid

*.pdf
*.zip
